@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #24272E;
}

header {
    background-color: white;
    padding: 20px;
}

header > h1 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge {
    background: #E2584D;
    color: white;
    padding: 2px 10px;
    font-size: 14px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}